<h1>{{ $ctrl.heading }}<button ng-click="$ctrl.showChart()" class="chart-button">Show chart</button></h1>


<!--<h1>{{ $ctrl.heading }}<button chart-modal-directive users-gender="$ctrl.usersGender" on-close="$ctrl.closeModal()" class="chart-button">Show chart</button></h1>-->

<!--<chart-modal-directive ng-if="$ctrl.showGender" users-gender="$ctrl.usersGender" on-close="$ctrl.closeModal()"></chart-modal-directive>-->

<gender-chart ng-if="$ctrl.showGender" users-gender="$ctrl.usersGender" on-close="$ctrl.closeModal()"></gender-chart>

<div class="heading-flex-container">
    <div class="flex-item">&nbsp;</div>
    <div class="flex-item">Last</div>
    <div class="flex-item">First</div>
    <div class="flex-item">Username</div>
    <div class="flex-item">Phone</div>
    <div class="flex-item">Location</div>
    <div class="flex-item">&nbsp;</div>
</div>

<div ng-repeat="user in $ctrl.users" ng-class-odd="'column-bg'">
    <div class="flex-container">
        <div class="flex-item">
            <div class="img-wrapper">
                <img ng-src="{{user.picture.medium}}" class="avatar" alt="">
            </div>
        </div>
        <div class="flex-item capitalize">{{user.name.last}}</div>
        <div class="flex-item capitalize">{{user.name.first}}</div>
        <div class="flex-item">{{user.login.username}}</div>
        <div class="flex-item">{{user.phone}}</div>
        <div class="flex-item capitalize">{{user.location.city}}</div>
        <div class="flex-item"><img ng-click="$ctrl.chooseUser(user)" class="info-button" ng-src="/app/images/add.svg" alt="info"></div>
    </div>
    <user-detail ng-show="$ctrl.chosenUser == user" chosen-user="$ctrl.chosenUser"></user-detail>
</div>



<!--<user-detail chosen-user="$ctrl.chosenUser"></user-detail>-->
<!--<a href="" ng-click="$ctrl.asd()">detail</a>
<a ui-sref="detail({id:1})">detail</a>-->
