h1 {
    color: #444;
    margin-left: 35px;
}

.heading-flex-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

.flex-container {
    display: flex;
    justify-content: center;
    color: #444;
}

.flex-item {
    flex-direction: row;
    flex-basis: 200px;
    min-width: 100px;
    word-wrap: break-word;
    align-items: center;
    display: flex; 
    justify-content: center;
}

.capitalize {
   text-transform: capitalize;
}

.img-wrapper {
    display: inline-flex;
    margin-top: 2px;
    margin-bottom: 2px;
}

.avatar {
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0 0 10px rgba(192,192,192,1);
}

.column-bg {
  background-color: #ccc;
}

.info-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.myButton:active {
	position:relative;
	top:1px;
}

.chart-button {
    height: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 0 0 5px rgba(192,192,192,1);
    color: #444;
    float: right;
    margin-right: 5%;
    outline: none;

    &:active {
        position:relative;
    	top:1px;
    }

    &:focus {
        box-shadow: 0 0 10px rgba(133,126,126,1);
    }
}